meta(http-equiv="refresh" content="0; URL='http://samcockrell.wix.com/home'")
//- doctype html
//- html
//-   head
//-     title= title
//-     link(rel='stylesheet', href='/stylesheets/style.css')
//-   body
