extends layout

block content
  //- h1= title
  //- p Welcome to #{title}
  
  h2 CHRISTMAS GIG
  <a href="https://docs.google.com/spreadsheets/d/1TRbNV6qHBi8anJbHLl0EST0RaY2IonfofgBDySnGg58/edit?usp=sharing">Gig Info, Map, Time, etc</a>
  <a href="https://docs.google.com/spreadsheets/d/1TRbNV6qHBi8anJbHLl0EST0RaY2IonfofgBDySnGg58/edit?usp=sharing">Songs: Blues, R&B, Soul, Funk, etc</a>
  <a href="https://docs.google.com/spreadsheets/d/1TRbNV6qHBi8anJbHLl0EST0RaY2IonfofgBDySnGg58/edit#gid=1433581212">Songs: Tradition (but not necessarily in traditional style)</a> 
  <a href="https://docs.google.com/spreadsheets/d/1TRbNV6qHBi8anJbHLl0EST0RaY2IonfofgBDySnGg58/edit#gid=973035739">Compliations & Source Material</a> 
  <a href="https://www.dropbox.com/sh/zt8em3zsk6ix5pk/AAB9Bkl5ekmmbWXHHVPxuA46a?dl=0">Charts (Dropbox)</a>
  <BR>
  

  
  h2 REHEARSAL INFO
  <a href="https://docs.google.com/spreadsheets/d/1BGOkM8ddJ7kOfWyUuObCuA9d37RQsUr37VMDWI1_YX4/edit?usp=sharing">Rehearsal Availablity</a>
  <BR>
  
  h2 AUDIO: ALBUMS
  <a href="https://www.dropbox.com/sh/ogf16tzzn6tdy3k/AABIpZiwLio35RvFwQJQrXyza?dl=0">I'm In The Business</a>
  <a href="https://www.dropbox.com/sh/f8vnmf2nto8ej7g/AAD6sv2mwNdaw8gPOcNRoK7Pa?dl=0">Colorblind</a>
  <a href="https://www.dropbox.com/sh/o742bd1xfrjuv01/AAD9_jwqYGJEZzSvFl5JsJVQa?dl=0">Trying to Make a Living Playing My Guitar</a>
  <BR>
  h2 AUDIO: COVERS
  <a href="https://www.dropbox.com/sh/5ls7stjgdjojnuq/AACP0OI6l4TJ-O1hELB03lTEa?dl=0">Covers</a>
  <a href="https://www.dropbox.com/sh/gp3v99go4nbfyd9/AAAFf6YcxBEoJBCCfpdLSG-4a?dl=0">Covers Blues</a>
  <BR>
  h2 AUDIO: REHEARSAL STUFF
  <a href="https://www.dropbox.com/sh/k2cofre11t34ymd/AACVlNzCj2ESwJeELfRI6dwma?dl=0">Intros & Endings</a>
  <BR>
  <a href="https://www.dropbox.com/sh/c1ty42v1j984xke/AADLzbWVhKxxdRCDZdCUgpZda?dl=0">Rehearsal 052516</a>
  <a href="https://www.dropbox.com/sh/tjhctz2qql2gmhl/AABts_05tbtfRwfHox5cWwS9a?dl=0">Rehearsal 091215</a>
  <BR>

  h2 ADMINISTRATIVE
  <a href="https://www.dropbox.com/s/9f7umxzfeurnh7v/SCB-PressKit091515.zip?dl=0">Press Kit</a>
  <BR>
  
  
